page-login {}

.logo {
    width: auto;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 50px;
}

.button {
    width: 100px;
    margin-left: 15px;
    margin-right: auto;
    margin-top: 25px;
}