<!--
  Generated template for the ExamsDoctor page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
</ion-header>

<ion-content class="saude-background no-scroll">
  <ion-row>
    <ion-col col-10>
      <ion-toolbar color="saudeBg">
        <ion-searchbar placeholder="Search..." [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
        </ion-searchbar>
      </ion-toolbar>
    </ion-col>
    <ion-col col-2>
      <ion-buttons end>
        <button ion-button color="light" clear (click)="presentPopover($event)">
          <ion-icon name="options"></ion-icon>
        </button>
      </ion-buttons>
    </ion-col>
  </ion-row>

  <div class="saude-cards-wrapper">
    <ion-card (click)="viewExamDetail(exam)" [ngStyle]="{'border-color': getExamStatusColor(exam.status)}" class="saude-cards"
      *ngFor="let exam of exams | ExamSearch: searchQuery | ExamOrder: orderPopoverService.orderName:orderPopoverService.orderReverse ">
      <ion-card-content>
        <ion-row class="saude-cards-header">
          Exame<span>{{exam.identification}}</span>
        </ion-row>
        <ion-row>
          <ion-col class="col-left" col-6>
            <ion-icon class="icon-card" ios="ios-calendar" md="md-calendar"></ion-icon>
            {{ exam.executionDate | ExamDate }}
          </ion-col>
          <ion-col class="col-right" col-6>
            <ion-icon class="icon-card" ios="ios-medkit" md="md-medkit"></ion-icon>
            {{exam.clinicName}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="col-left" col-6>
            <i class="fa fa-user-md" aria-hidden="true"></i> {{exam.referringPhysicianName}}
          </ion-col>
          <ion-col class="col-right col-right" col-6>
            <ion-icon class="icon-card" ios="ios-person" md="md-person"></ion-icon>
            {{exam.patient | ExamNames}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="col-left" col-12>
            <div>
              <i class="fa fa-stethoscope" aria-hidden="true"></i> {{ exam.serviceName | ExamServicename }}
            </div>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="exam.isEmergency" class="saude-emergency-row">
          <ion-icon class="saude-isEmergency-icon" name="pulse"></ion-icon>
          <p>Emergency!</p>
          <ion-icon class="saude-isEmergency-icon" name="pulse"></ion-icon>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
