<!--
  Generated template for the Exams page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="opaque">
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{ 'EXAMS.EXAMS' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="saude-background no-scroll">
  <ion-tabs>
    <ion-tab *ngIf="showDoctor" [root]="Doctor" tabTitle="{{ 'EXAMS.DOCTOR' | translate }}" tabIcon="md-people"></ion-tab>
    <ion-tab *ngIf="showPatient" [root]="Patient" tabTitle="{{ 'EXAMS.PATIENT' | translate }}" tabIcon="md-medical"></ion-tab>
  </ion-tabs>
</ion-content>
