page-exams-patient {}

.col-left {
    text-align: center;
}

.col-right {
    text-align: left;
    padding-left: 20px;
}

.col-right-center {
    margin: auto;
}

.icon-card {
    //color: red;
    margin-left: 5px;
    margin-right: 5px;
}

.icon-card-planning {
    font-size: 50px;
}